In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys, os

Import modules from Scripts

In [10]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from preprocessing import Preprocess
from plotting import Plotting
from loader import LoadData
from file import Myfile

Initialize class

In [11]:
file = Myfile()
#loader = LoadData()
preprocess = Preprocess()
plot = Plotting()

In [13]:

sub_df = file.read_csv('../data/sample_submission.csv')
test_df = file.read_csv('../data/test.csv')
store_df = file.read_csv('../data/store.csv')
train_df = file.read_csv('../data/train.csv')

--> file read as csv
--> file read as csv
--> file read as csv

C:\Users\user\Desktop\10Academy\Week-3\Rossmann-Pharmaceuticals-Sales-prediction\scripts\file.py:11: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

--> file read as csv

Data overview of each dataset

In [15]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             41088 non-null  int64
 1   Store          41088 non-null  int64
 2   DayOfWeek      41088 non-null  int64
 3   Date           41088 non-null  object
 4   Open           41077 non-null  float64
 5   Promo          41088 non-null  int64
 6   StateHoliday   41088 non-null  object
 7   SchoolHoliday  41088 non-null  int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.5+ MB

In [16]:
test_df.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [17]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [18]:
train_df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [19]:
store_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [20]:
store_df.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

Check for shape of our datasets

In [45]:
test_df.shape

(41088, 8)

In [46]:
train_df.shape

(1017209, 9)

In [47]:
store_df.shape

(1115, 10)

let convert the date column to datetie datatype on both train and test dataset

In [21]:
test_df = preprocess.convert_to_datetime(test_df, 'Date')
train_df = preprocess.convert_to_datetime(train_df, 'Date')

In [24]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             41088 non-null  int64
 1   Store          41088 non-null  int64
 2   DayOfWeek      41088 non-null  int64
 3   Date           41088 non-null  datetime64[ns]
 4   Open           41077 non-null  float64
 5   Promo          41088 non-null  int64
 6   StateHoliday   41088 non-null  object
 7   SchoolHoliday  41088 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(1)
memory usage: 2.5+ MB

In [25]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 69.8+ MB

#### Now Merge the dataframes

In [48]:
train_jdf = preprocess.join_dataframes(train_df, store_df, 'Store', 'left')
test_jdf = preprocess.join_dataframes(test_df, store_df, 'Store', 'left')

Extract relevant fields from Date column

In [49]:
train_jdf = preprocess.extract_fields_date(train_jdf, 'Date')
test_jdf = preprocess.extract_fields_date(test_jdf, 'Date')

C:\Users\user\Desktop\10Academy\Week-3\Rossmann-Pharmaceuticals-Sales-prediction\scripts\preprocessing.py:168: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df[date_column].dt.weekofyear
C:\Users\user\Desktop\10Academy\Week-3\Rossmann-Pharmaceuticals-Sales-prediction\scripts\preprocessing.py:168: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df[date_column].dt.weekofyear

In [50]:
train_jdf.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,weekday,weekofyear,weekend
0,1,4,2015-07-31,5263,555,1,1,0,1,c,...,0,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,7,31,4,31,0
1,1,3,2015-07-30,5020,546,1,1,0,1,c,...,0,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,7,30,3,31,0
2,1,2,2015-07-29,4782,523,1,1,0,1,c,...,0,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,7,29,2,31,0
3,1,1,2015-07-28,5011,560,1,1,0,1,c,...,0,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,7,28,1,31,0
4,1,0,2015-07-27,6102,612,1,1,0,1,c,...,0,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,7,27,0,31,1

In [51]:
test_jdf.head()

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,weekday,weekofyear,weekend
0,1,1,3,2015-09-17,1.0,1,0,0,c,a,...,0,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,9,17,3,38,0
1,857,1,2,2015-09-16,1.0,1,0,0,c,a,...,0,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,9,16,2,38,0
2,1713,1,1,2015-09-15,1.0,1,0,0,c,a,...,0,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,9,15,1,38,0
3,2569,1,0,2015-09-14,1.0,1,0,0,c,a,...,0,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,9,14,0,38,1
4,3425,1,6,2015-09-13,0.0,0,0,0,c,a,...,0,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,9,13,6,37,1

Set the Date as an index

In [52]:
train_jdf.set_index('Date', inplace=True)
test_jdf.set_index('Date', inplace=True)

save the merged dataset

In [53]:
train_jdf.to_csv('../data/train_joined.csv', index=True)
test_jdf.to_csv('../data/test_joined.csv', index=True)

LOad the saved merged data set

In [54]:
train_df = file.read_csv('../data/train_joined.csv')
test_df = file.read_csv('../data/test_joined.csv')

--> file read as csv
--> file read as csv

#### Null Percentages

In [55]:
print(f"Test Null Percentage : {preprocess.get_missing_data_percentage(test_df)} %")

Test Null Percentage :                            Total    %
Date                           0  0.0
CompetitionOpenSinceYear       0  0.0
weekofyear                     0  0.0
weekday                        0  0.0
Day                            0  0.0
Month                          0  0.0
Year                           0  0.0
PromoInterval                  0  0.0
Promo2SinceYear                0  0.0
Promo2SinceWeek                0  0.0
Promo2                         0  0.0
CompetitionOpenSinceMonth      0  0.0
Id                             0  0.0
CompetitionDistance            0  0.0
Assortment                     0  0.0
StoreType                      0  0.0
SchoolHoliday                  0  0.0
StateHoliday                   0  0.0
Promo                          0  0.0
Open                           0  0.0
DayOfWeek                      0  0.0
Store                          0  0.0
weekend                        0  0.0 %

In [56]:
print(f"Train Null Percentage : {preprocess.get_missing_data_percentage(train_df)} %")

Train Null Percentage :                            Total    %
Date                           0  0.0
Store                          0  0.0
weekofyear                     0  0.0
weekday                        0  0.0
Day                            0  0.0
Month                          0  0.0
Year                           0  0.0
PromoInterval                  0  0.0
Promo2SinceYear                0  0.0
Promo2SinceWeek                0  0.0
Promo2                         0  0.0
CompetitionOpenSinceYear       0  0.0
CompetitionOpenSinceMonth      0  0.0
CompetitionDistance            0  0.0
Assortment                     0  0.0
StoreType                      0  0.0
SchoolHoliday                  0  0.0
StateHoliday                   0  0.0
Promo                          0  0.0
Open                           0  0.0
Customers                      0  0.0
Sales                          0  0.0
DayOfWeek                      0  0.0
weekend                        0  0.0 %

* PromoInterval(Object), Promo2SinceYear(float64), Promo2SinceWeek(float64), CompetitionOpenSinceMonth(float64), 
  CompetitionOpenSinceYear(float64), CompetitionDistance(float64) are missing values in the store data.

* Open(float64) is missing in the test data in addition to the other missing values.

In [35]:
missing_df = store_df[['PromoInterval', 'Promo2SinceYear', 'Promo2SinceWeek', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'CompetitionDistance']]
missing_df.head(10)

,PromoInterval,Promo2SinceYear,Promo2SinceWeek,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,CompetitionDistance
0,NaN,NaN,NaN,9.0,2008.0,1270.0
1,"Jan,Apr,Jul,Oct",2010.0,13.0,11.0,2007.0,570.0
2,"Jan,Apr,Jul,Oct",2011.0,14.0,12.0,2006.0,14130.0
3,NaN,NaN,NaN,9.0,2009.0,620.0
4,NaN,NaN,NaN,4.0,2015.0,29910.0
5,NaN,NaN,NaN,12.0,2013.0,310.0
6,NaN,NaN,NaN,4.0,2013.0,24000.0
7,NaN,NaN,NaN,10.0,2014.0,7520.0
8,NaN,NaN,NaN,8.0,2000.0,2030.0
9,NaN,NaN,NaN,9.0,2009.0,3160.0

#### Handling Missing Value

fill the numeric columns  'Promo2SinceYear', 'Promo2SinceWeek', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'CompetitionDistance' with mean values

In [58]:
miss = ['Promo2SinceYear', 'Promo2SinceWeek', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'CompetitionDistance']
store_df = preprocess.fill_missing_median(store_df, miss)
test_df = preprocess.fill_missing_median(test_df, miss)

Fill the Object column with mode

In [59]:
train_df = preprocess.fill_missing_mode(train_df, ['PromoInterval'])
test_df = preprocess.fill_missing_mode(test_df, ['PromoInterval'])

Fill Open with zero

In [60]:
test_df = preprocess.fill_missing_with_zero(test_df, ['Open'])

#### Checking the hundled missing values

In [61]:
preprocess.get_missing_data_percentage(test_df)

                           Total    %
Date                           0  0.0
CompetitionOpenSinceYear       0  0.0
weekofyear                     0  0.0
weekday                        0  0.0
Day                            0  0.0
Month                          0  0.0
Year                           0  0.0
PromoInterval                  0  0.0
Promo2SinceYear                0  0.0
Promo2SinceWeek                0  0.0
Promo2                         0  0.0
CompetitionOpenSinceMonth      0  0.0
Id                             0  0.0
CompetitionDistance            0  0.0
Assortment                     0  0.0
StoreType                      0  0.0
SchoolHoliday                  0  0.0
StateHoliday                   0  0.0
Promo                          0  0.0
Open                           0  0.0
DayOfWeek                      0  0.0
Store                          0  0.0
weekend                        0  0.0

In [62]:
preprocess.get_missing_data_percentage(train_df)

                           Total    %
Date                           0  0.0
Store                          0  0.0
weekofyear                     0  0.0
weekday                        0  0.0
Day                            0  0.0
Month                          0  0.0
Year                           0  0.0
PromoInterval                  0  0.0
Promo2SinceYear                0  0.0
Promo2SinceWeek                0  0.0
Promo2                         0  0.0
CompetitionOpenSinceYear       0  0.0
CompetitionOpenSinceMonth      0  0.0
CompetitionDistance            0  0.0
Assortment                     0  0.0
StoreType                      0  0.0
SchoolHoliday                  0  0.0
StateHoliday                   0  0.0
Promo                          0  0.0
Open                           0  0.0
Customers                      0  0.0
Sales                          0  0.0
DayOfWeek                      0  0.0
weekend                        0  0.0